.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 80px;
}


.login-form-button {
    width: 30%;
    margin-top: 15px;
}

.login-form input {
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
}


