.page-title {
  text-align: center;
}

.order-search-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 80px;    

}
.search-form-button {
    margin-top: 30px;
    
}


.search-form input {
    margin-bottom: 3px;
    min-width: 150px;
    width: 30%;
    text-align: center;
}
