

.CreateAccount-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.CreateAccount-intro {
  font-size: large;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.h1 {
  text-align: center;
}
