.page-title {
    text-align: center;
  }
  
  .customer-container {
      max-width: 600px;
      margin: 0 auto;
      margin-top: 80px;    
  
  }
  
  .customer-container2 {
      max-width: 600px;
      margin: 0 auto;
      margin-top: 60px;    
  
  }
  .customer-form-button {
      margin-top: 30px;
      
  }
  
  .customer-container2 .edit{
      opacity: 0.6;
      color: #fff;
      background-color: #1890ff;
      border-color: #1890ff;
  
  }

  